---
title: People - Clifford Lab
layout: default
---

<div class="jumbotron">
	<h1>Lab Members</h1>
</div>

<div class = "row members">
{% for member in site.data.members %}
		<div class = "profile">
	  	<img src="{{member.picture}}" class = "pic">
	  	<div class="profile-info">
		  	<div class="name">
		    	<h3>{{ member.name }}</h3>
		    </div>
		    <div class="title">
		    	<h4>{{ member.title }}</h4>
		    </div>
		    <div class="dept">
		   	 {{ member.dept }}
		    </div>
		    <div class="location">
		    	{{ member.location}}
		    </div>
	    </div>
	    {% include icons.html %}
	  </div>
{% endfor %}
</div>
