.intro-pic {
	max-width:300px;
	height:auto;
	display:block;
	margin:20px auto;
}

.jumbotron {
	padding-left:15px;
	padding-right:15px;
	color:$jumbotron-color;
}

.research {
	max-width:500px;
	margin:0 auto;
	h2 {
		text-align:center;
	}
	padding:20px 15px;
}

.logo {
	color:$logo-color;
}