.navbar-default {
	background:$navbar-color;
	border:none;
	border-bottom:1px solid $jumbotron-color;

	.navbar-brand {
		color:$brand-color;
	}

	.navbar-nav>li>a {
		color:$nav-link-color;
	}
	.navbar-nav>li>a:hover {
		color:#fff;
	}

	.navbar-toggle {
		border-color:#888;
	}

	.navbar-collapse {
		border:none;
	}

}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default{
	color:$nav-link-color;
	background:$navbar-color;
}

.navbar-default .navbar-nav>li>a:visited {
	color:$nav-link-color;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color:$nav-link-color;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
	color:#fff;
}

.navbar {
	border-radius:0;
}

.dropdown-menu {
	padding:0
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color:$nav-link-color;
	background:$navbar-color;
}