---
---
@import "variables";
@import "mixins";
@import "nav";
@import "footer";
@import "home";
@import "people";


html {
  position: relative;
  min-height: 100%;
}

body {
  background: $body-color;
  margin-bottom: $footer-height;
}

.text-right {
	text-align:right;
}

@import "mqueries";


