<div class="row info">

	<div class="col-md-5">
		<img src="assets/img/emory_exposome.jpg" alt="Clifford" class="img-circle intro-pic">
	</div>

	<div class="research col-md-7">
		<h2>Exposome 2016</h2>
		<p>In support of the Exposome mission, our lab will be offering live interactive demos to demonstrate some of the useful capabilities of the Raspberry Pi, sensor technologies and cloud computing.</p>
		<p>More information can be found at the event's website, located here: http://emoryhercules.com/, and http://humanexposomeproject.com/</p>
    <img src="assets/img/Exposome_Agenda_2016.pdf" alt="Clifford" class="img-circle intro-pic">
	</div>

	</div>
